{
  box-sizing: border-box;
}

.blue_box {
  background-color: rgb(173, 216, 230);
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 98%;
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  box-shadow: 1px 1px 1px 0 gray;
  text-decoration: none;
}
